high_fidelity_10012_50steps
high_fidelity_10012_20steps
high_fidelity_10012_100steps
data/highfidelity/high_fidelity_10012_20steps.npz
data/highfidelity/high_fidelity_10012_50steps.npz
data/highfidelity/high_fidelity_10012_100steps.npz
