high_fidelity_10012_50steps
high_fidelity_10012_20steps
high_fidelity_10012_100steps
data/highfidelity/high_fidelity_10012_20steps.npz
data/highfidelity/high_fidelity_10012_50steps.npz
data/highfidelity/high_fidelity_10012_100steps.npz
data/highfidelity/high_fidelity_10014.npz
data/highfidelity/high_fidelity_10012.npz
data/highfidelity/high_fidelity_1.5_1.npz
data/highfidelity/high_fidelity_10017.npz
sftp.json
data/highfidelity/high_fidelity_2_16000.npz
data/highfidelity/high_fidelity_2_20000.npz
.DS_Store
*/.DS_Store
